
# Instantiate the example driver, which supports the position interface

driver
(
  #name: the name specified in the source file when adding the driver to the table...
  name "nxt_sense_touch"
  plugin "player_drivers/libnxt_sense_touch_driver"
  provides ["bumper:0"]
  device_path "/dev/touch0"
)
